body,html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: none;
}
.container{
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-y: none;
    height: 100%;
}

.child{
    overflow-y: none;
    text-align: center;
    background-color: aqua;
    /* border: 1px solid black; */
    scroll-snap-align: start;
    scroll-padding: 50%;
}
.car{
    overflow-y: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.container{
    position: relative;
}
.navbar{
    width: 100%;
    z-index: 1;
    position: absolute;
}
.navbar p{
    font-size: 24px;
}
.tesla-icon{
    height: 15px;
    margin: 20px 0px 0px 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-button{
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 20px 5px 0px 5px;
    padding: 0px 8px 0px 8px;
    
}
.navbar-button:hover{
    background-color: rgba(148, 148, 148, 0.288);
}
.name{
    position: absolute;
    z-index: 2;
    margin: 10% 40% 0% 40%;
    width: 300px;
}
.name p{
    display: flex;
    justify-content: center;

}
.name-car{
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


