.header{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 20px;
}
.Tesla img{
    width: auto;
    height: 20px;
}
.Menu img{
    width: auto;
    height: 20px;
}
.account{
    width: 400px;
    height: 400px;
    
}